.game-board {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1024px;
  height: 600px;
  border: 2px solid black;
  border-radius: 2%;
  background: #F3F2F7; }
