.tank-1 {
  width: 40px;
  height: 60px;
  background-image: url("../../static/images/tanks.png");
  background-repeat: no-repeat;
  background-position: -60px -35px; }
  .tank-1.up {
    transform: rotate(0deg); }
  .tank-1.right {
    transform: rotate(90deg); }
  .tank-1.down {
    transform: rotate(180deg); }
  .tank-1.left {
    transform: rotate(270deg); }
