.tank-1 {
  width: 40px;
  height: 60px;
  background-image: url('../../static/images/tanks.png');
  background-repeat: no-repeat;
  background-position: -60px -35px;

  &.up {
    transform: rotate(0deg);
  }

  &.right {
    transform: rotate(90deg);
  }

  &.down {
    transform: rotate(180deg);
  }

  &.left {
    transform: rotate(270deg);
  }
}
